*.o
.deps/
.libs/
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/libtool
/stamp-h1
/INSTALL
/*.pc

# Eclipse project files
/.project
/.cproject

# Folders for the current build and installation structure
/build/
/include/
/lib/
/bin/
