*.o
.deps/
.libs/
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/libtool
/stamp-h1
/INSTALL
/*.pc
/configure

# Eclipse project files
/.project
/.cproject
/.settings

# Folders for the current build and installation structure
/build/
/include/
/lib/
/bin/
