Sphinx
# Fix breathe version so that we can hotfix to support Sphinx >= 1.6
# Remove restriction once https://github.com/michaeljones/breathe/pull/334
# is merged and released.
breathe==4.6.0
gitpython
cairosvg
pyyaml